/* work sens font */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Space Mono', monospace;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}

/* header styles */

header {
  background-color: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav>ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
  text-align: center;
}

.banner-img {
  margin-top: 20px;
  width: 100%;
}

/* header section ended */
/* responsive media query */
/* mobile divices */
@media screen and (max-width:576px) {
  header {
    padding: 20px;
  }

  nav {
    flex-direction: column;
  }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
  header {
    padding: 50px;
  }

  nav {
    flex-direction: column;
  }
}

/* feature section start */

main {
  max-width: 1440px;
  margin: 0 auto;
}


.feature-conteiner {
  display: flex;
  align-items: center;

}

.feature-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.feature-content {
  padding-right: 70px;
  padding-left: 70px;
}

.feature-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}

.of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.ff {
  color: #FF900E;
  font-size: 2.8rem;
  font-weight: 700;
}

.feature-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  /* padding-top: 24px;
  padding-bottom: 32px; */
}