/* work sens font */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Space Mono', monospace;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}

/* header styles */

header {
  background-color: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav>ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
  text-align: center;
}

.banner-img {
  margin-top: 20px;
  width: 100%;
}

/* header section ended */

/* feature section start */

main {
  max-width: 1440px;
  margin: 70px auto;
}


.feature-conteiner {
  display: flex;
  align-items: center;

}

.feature-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  /* margin-left: 80px; */
}

.feature-content {
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 50px;
}

.feature-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}

.of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.ff {
  color: #FF900E;
  font-size: 2.8rem;
  font-weight: 700;
}

.feature-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  /* padding-top: 24px;
  padding-bottom: 32px; */
}

/* feature section end */

/* ftr section start */



/* ftr section end */

/* fact section start */
/* .facts{
  margin-left: 100px;
} */

.facts-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.facts-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 100px;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;

}

.facts-card-container .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}

.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px
}

.sponsors-title {
  color: #131313;
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  margin-top: 180px;
}

.sponsors-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.sponsors-img-container img {
  width: 165px;
  height: 50px;
}

/* 
footer{
  border-radius: 8px;
  background: #FFF4E7;
  padding: 10px;
  text-align: center;
  margin: 0 100px;

}
.foter-description{
  font-size: 20px;
  font-weight: 400;
  color: #424242;
} */

/* responsive media query */
/* mobile divices */
@media screen and (max-width:576px) {
  header {
    padding: 20px;
  }

  nav,
  .feature-conteiner,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }

  .feature-img-container {
    grid-template-columns: 1fr;
  }

  .feature-content .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .facts-card-container {
    gap: 20px;
  }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
  header {
    padding: 50px;
  }

  nav,
  .sponsors-img-container,
  .feature-conteiner {
    flex-direction: column;
  }
}